<% layout('layout') -%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"> <%= teacher.teacher %>'s Class</div>
                <table class="table table-hover table-striped sortable">
                    <thead>
                        <tr>
                            <th class="col-xs-1">#</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Nick Name</th>
                            <th>Birthday</th>
                            <th class="col-xs-1">View Information</th>
                            <th class="col-xs-1">Edit Information</th>
                            <th class="col-xs-1">Progress</th>
                        </tr>
                    </thead>

                    <% students.forEach(function (student) { %>
                    <tr>
                        <td class="col-xs-1"><%= student.number %></td>
                        <td><%= student.lastName %></td>
                        <td><%= student.firstName %></td>
                        <td><%= student.nickName %></td>
                        <td><%= student.birthday %></td>
                        <td class="col-xs-1"><a href="/student/info/<%= student.id %>"><button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-info-sign"></span></td>
                        <td class="col-xs-1">
                            <a href="/student/edit/<%= student.id %>">
                                <button type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
                            </a>
                        </td>
                        <td class="col-xs-1">
                            <a href="/class/grades/">
                                <button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                        </td>
                        </td>
                        </tr>
                        <% }) %>
                            </table>
                    </div>
                    <form action="/class?_method=put" method="POST" class="form-inline" style="margin: 2%;">
                        <div class="form-group">
                            <label class="control-label" for="teacher">
                                <h6>Update Class's Homeroom Teacher:</h6></label>
                            <input type="text" class="form-control input-sm" id="teacher" name="student[teacher]">
                        </div>
                        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-apple" aria-hidden="true"> Update Teacher</button>
            </form>
            <div class="col-lg-1"></div>
        </div>
    </div>

<!-- is there a way to only show month and day or change format? -->
