<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teacher Portal</title>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Sortable Tables -->
    <script src="/sorttable.js"></script>
<link href="/css/simple-sidebar.css" rel="stylesheet">
    <script src="/script.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/teachers/<%= teacher.id %>"><span class="glyphicon glyphicon-home" aria-hidden="true"> </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/teachers/<%= teacher._id %>/students"><span class="glyphicon glyphicon-blackboard"></span> Manage Class</a></li>
                    <li><a href="/teachers/<%= teacher.id %>/grades"><span class="glyphicon glyphicon-education"></span>  Gradebook</a></li>
                    <!-- <li><a href="#"><span class="glyphicon glyphicon-check" aria-hidden="true"> Attendance</a></li> -->
                    <li><a href="/teachers/<%= teacher.id %>/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit Personal Info</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-road"> Site Navigation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li class="dropdown-header"><span class="glyphicon glyphicon-apple"></span> Teacher</li> 
                            <li><a href="/teachers/<%= teacher._id %>"> Home Page </a></li>
                            <li><a href="/teachers/<%= teacher.id %>/edit">Edit Personal Info</a></li>
                        <li class="dropdown-header"><span class="glyphicon glyphicon-blackboard"></span> Manage Class</li> 
                            <li><a href="/teachers/<%= teacher._id %>/students">View All Students</a></li>
                            <li><a href="/teachers/<%= teacher._id %>/students/important"> Important Information</a></li>
                            <li><a href="/students/new">Add Student</a></li>
                            <li><a href="/teachers/<%= teacher._id %>/students/birthdays"> Birthdays</a></li>
                        <li class="dropdown-header"><span class="glyphicon glyphicon-education"></span>  Gradebook</li> 
                            <li><a href="/teachers/<%= teacher._id %>/grades"> View Assignments</a></li>
                            <li><a href="/teachers/<%= teacher._id %>/grades/new"> Add Assignment</a></li>
                        </ul>
                    </li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"> Logout <%= teacher.firstname %> <%= teacher.lastName %></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section>
        <%- body -%>
    </section>
</body>

</html>
