<% layout('students/boilerplate') -%>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
<div>


            <div class="form-group form-group-lg" style="padding: 0 8%">
                <h2>Edit Student Information</h2>
                <form action="/teachers/<%= teacher.id %>/students/<%= student.id %>?_method=put" method="POST"  class="form-horizontal col-xs-offset-1">

  
<div class="form-group">
                        <label class="col-sm-2 control-label" for="teacher">Homeroom Teacher:</label>
                        <div class="col-sm-7">
                            <input type="text" id="teacher" value="<%= student.teacher.lastName %>" name="student.teacher[lastName]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="number">Number:</label>
                        <div class="col-sm-7">
                            <input type="number" id="number" value="<%= student.number %>" name="student[number]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fname">First Name:</label>
                        <div class="col-sm-7">
                            <input type="text" id="fname" value="<%= student.firstName %>" name="student[firstName]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="lname">Last Name:</label>
                        <div class="col-sm-7">
                            <input type="text" id="lname" value="<%= student.lastName %>" name="student[lastName]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="nname">Nick Name:</label>
                        <div class="col-sm-7">
                            <input type="text" id="nname" value="<%= student.nickName %>" name="student[nickName]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="gender">Gender:</label>
                        <div class="col-sm-7">
                            <input type="text" id="gender" value="<%= student.gender %>" name="student[gender]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="birthdate">Birth Date:</label>
                        <div class="col-sm-7">
                            <input type="date" id="birthdate" value="<%= student.birthday %>" name="student[birthday]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="allergies">Allergies:</label>
                        <div class="col-sm-7">
                            <input type="text" id="allergies" value="<%= student.allergies %>" name="student[allergies]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="other">Other Info:</label>
                        <div class="col-sm-7">
                            <input type="text" id="other" value="<%= student.other %>" name="student[other]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="email">Email:</label>
                        <div class="col-sm-7">
                            <input type="email" id="email" value="<%= student.email %>" name="student[email]" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="password">Password:</label>
                        <div class="col-sm-7">
                            <input type="password" id="password" value="<%= student.password %>" name="student[password]" class="form-control">
                        </div>
                    </div>
    </div>
    
                    
                    <input type="submit" id="add" value="Update Student Info" class="btn btn-primary btn-lg" style="margin: 2%">
                </form>
                <form action="/student/<%= student.id %>?_method=delete" method="POST" style="padding: 0 2.5%; width: 100%">
                    <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete Student</button>
                </form>
            </div>
    </div>
    <div class="col-sm-2"></div>
