<% layout('layout') -%>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="jumbotron">
            <div class="form-group form-group-lg" style="padding: 0 8%">
                <h2>Edit Personal Information</h2>
                <form action="/teachers/<%= teacher.id %>?_method=put" method="POST">
                    <div class="form-group">
                        <label class="control-label" for="firstname">First Name:</label>
                        <input type="text" id="firstname" value="<%= teacher.firstname %>" name="teacher[firstname]" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="lastName">Last Name:</label>
                        <input type="text" id="lastName" value="<%= teacher.lastName %>" name="teacher[lastName]" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="title">Title:</label>
                        <select id="title" value="<%= teacher.password %>" name="teacher[prefix]" class="form-control">
                          <option value="Mr.">Mr.</option>
                          <option value="Ms.">Ms.</option>
                          <option value="Miss">Miss</option>
                          <option value="Mrs.">Mrs.</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="gradeLevel">Grade Level:</label>
                        <input type="text" id="gradeLevel" value="<%= teacher.gradeLevel %>" name="teacher[gradeLevel]" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="email">Email:</label>
                        <input type="email" id="email" value="<%= teacher.email %>" name="teacher[email]" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" value="<%= teacher.password %>" name="teacher[password]" class="form-control">
                    </div>
                    <input type="submit" id="add" value="Update Personal Info" class="btn btn-primary btn-lg" style="margin: 2%">
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
